body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
}

.image-card {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-info {
    flex: 1;
}

.image-title {
    font-size: 18px;
    margin: 0;
}

.delete-button {
    background-color: #ff4b4b;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: #ff0000;
}

.no-images-found {
    background-color: red;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
}